<h2>
  {{model.name}} - codes
</h2>

<div class="layout-row layout-wrap">
{{#each model.codes as |code|}}
  <div class="flex-40">
  {{code.name}}
  </div>
{{else}}
  No Shield codes available
{{/each}}
</div>