@import "pod-styles";
@import 'node_modules/carbon-components/src/globals/scss/styles';
@import 'ember-paper';
@import 'sidenav';

span.badge {
  font-weight: 300;
  font-size: 0.8rem;
  color: #fff;
  background-color: #26a69a;
  border-radius: 2px;
}

span.badge {
  min-width: 3rem;
  padding: 0 6px;
  margin-left: 14px;
  text-align: center;
  font-size: 1rem;
  line-height: 22px;
  height: 22px;
  float: right;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.md-chips md-chip {
  height: initial !important;
}

body {
  font: 14px/16px;
  font-family: 'ibm-plex-sans', 'Helvetica Neue', Arial, sans-serif;
  color: #666;
  background-color: #f0f3f4;
}

