<div style="width: 250px; margin: auto">
  <Paper-Card as |Card|>

    <Card.title as |Title|>
      <Title.text as |Text|>
        <Text.headline>
          Login to IoT4i
        </Text.headline>
        <Text.subhead>{{shield.description}}</Text.subhead>
      </Title.text>
      {{to-json session.authError}}
    </Card.title>

    <Card.content></Card.content>

    <Card.actions>
      <Paper-Button @onClick={{action 'login'}} primary=true>Login</Paper-Button>
    </Card.actions>
  </Paper-Card>
</div>
