{{#paper-card as |card|}}

  {{#card.title as |title|}}
    {{#title.text as |text|}}
      {{#text.headline}}
        {{shield.name}} <span class="badge">{{shield.type}}</span>
      {{/text.headline}}
      {{#text.subhead}}{{shield.description}}{{/text.subhead}}
    {{/title.text}}
  {{/card.title}}

  {{#card.content}}
  {{/card.content}}

  {{#card.actions}}
    {{#paper-button onClick=(action 'showDetails') raised=true primary=true}}Details{{/paper-button}}
    {{#paper-button onClick=(action 'delete') raised=true warn=true}}Delete{{/paper-button}}
    {{#paper-button onClick=(action 'deactivate') raised=true}}Deactivate{{/paper-button}}
  {{/card.actions}}
{{/paper-card}}