<div style="width: 250px; margin: auto">
{{#paper-card as |card|}}

  {{#card.title as |title|}}
    {{#title.text as |text|}}
      {{#text.headline}}Login to IoT4i{{/text.headline}}
    {{/title.text}}
    {{error}}
  {{/card.title}}

    {{#card.actions}}
      {{#paper-button primary=true onClick=(action 'login')}}Login{{/paper-button}}
    {{/card.actions}}
{{/paper-card}}
</div>