<div style="width: 250px; margin: auto">
  <BxTile>

    <h4>Login to IoT4i</h4>
    <p>
      {{to-json session.authError}}
    </p>

    <BxButton @onClick={{action 'login'}} @primary=true>Login</BxButton>

  </BxTile>
</div>
