<div style="width: 250px; margin: auto">
  <Carbon::Tile>

    <h4>Login to IoT4i</h4>
    <p>
      {{to-json session.authError}}
    </p>

    <Carbon::Button @onClick={{action 'login'}} @primary=true>Login</Carbon::Button>

  </Carbon::Tile>
</div>
