<div class="layout-row">
  <Paper-List>
    {{#each model as |device|}}
      <Paper-Item @class="md-3-line" as |controls|>
        <div class="md-list-item-text">
          <h3>{{device.vendorId}}</h3>
          <p>{{device.userId}}</p>
          <p>{{device.description}}</p>
          <p>{{device.type}}</p>
        </div>
        <div class="md-secondary-container">
          {{#controls.button onClick=(action 'delete' device) raised=true warn=true secondary=true}}
            Delete
          {{/controls.button}}
        </div>
    </Paper-Item>
    <Paper-Divider/>
    {{/each}}
  </Paper-List>
</div>