&.main {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.main-content {
  padding: 16px;
  overflow: auto;
}

@media (min-width: 840px) {
  .main-content {
    margin: 4rem 12.5% 0;
  }
}

@media (min-width: 600px) {
  .main-content {
    margin: 4rem 5% 0;
  }
}

.main-content {
  margin: 4rem 3% 0;
  padding-bottom: 5rem;
}
.bx--tabs {
  font-size: 0.875rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "ibm-plex-sans", Helvetica Neue, Arial, sans-serif;
  color: #152935;
  font-weight: 600;
  height: auto;
  width: 100%;
  position: relative; }
@media screen and (min-width: 768px) {
  .bx--tabs {
    background: none;
    min-height: 3.0625rem; } }

.bx--tabs-trigger {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0 1rem;
  height: 2.5rem;
  cursor: pointer;
  background-color: #f4f7fb;
  box-shadow: 0 1px 0 0 #5a6872; }
.bx--tabs-trigger svg {
  width: 0.625rem;
  height: 0.3125rem;
  fill: #3d70b2; }
.bx--tabs-trigger:focus {
  outline: none;
  box-shadow: 0 2px 0 0 #3d70b2; }
@media screen and (min-width: 768px) {
  .bx--tabs-trigger {
    display: none; } }

.bx--tabs--light.bx--tabs-trigger {
  background-color: #fff; }

.bx--tabs-trigger-text {
  text-decoration: none;
  font-weight: 600;
  color: #152935; }
.bx--tabs-trigger-text:focus {
  outline: 1px solid #3d70b2; }

.bx--tabs__nav {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%;
  list-style: none;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  z-index: 7000;
  background: #fff; }
@media screen and (min-width: 768px) {
  .bx--tabs__nav {
    font-size: 1rem;
    -ms-flex-direction: row;
    flex-direction: row;
    margin-right: 1rem;
    margin-left: 1rem;
    background: none;
    box-shadow: none;
    z-index: auto; } }
@media screen and (min-width: 1200px) {
  .bx--tabs__nav {
    margin-left: 0; } }

.bx--tabs__nav--hidden {
  display: none; }
@media screen and (min-width: 768px) {
  .bx--tabs__nav--hidden {
    display: -ms-flexbox;
    display: flex; } }

.bx--tabs__nav-item {
  font-size: 0.875rem;
  background-color: #fff;
  padding: 0;
  cursor: pointer; }
.bx--tabs__nav-item:hover, .bx--tabs__nav-item:focus {
  background-color: rgba(85, 150, 230, 0.1); }
@media screen and (min-width: 768px) {
  .bx--tabs__nav-item:hover, .bx--tabs__nav-item:focus {
    outline: 1px solid transparent;
    background: transparent; } }
@media screen and (min-width: 768px) {
  .bx--tabs__nav-item {
    background: transparent;
    padding: 0.75rem 0 0.75rem; }
  .bx--tabs__nav-item + .bx--tabs__nav-item {
    margin-left: 3rem; } }

.bx--tabs__nav-item--selected {
  border: none; }
@media screen and (min-width: 768px) {
  .bx--tabs__nav-item--selected {
    border-bottom: 2px solid #3d70b2; }
  .bx--tabs__nav-item--selected .bx--tabs__nav-link {
    color: #3d70b2; }
  .bx--tabs__nav-item--selected .bx--tabs__nav-link:focus {
    color: #3d70b2; } }

.bx--tabs__nav-item:hover .bx--tabs__nav-link {
  color: #152935; }
@media screen and (min-width: 768px) {
  .bx--tabs__nav-item:hover .bx--tabs__nav-link {
    color: #3d70b2; } }

.bx--tabs__nav-link {
  display: inline-block;
  color: #152935;
  text-decoration: none;
  padding: 1rem;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis; }
.bx--tabs__nav-link:focus {
  outline: 1px solid transparent;
  background-color: #3d70b2;
  color: #fff; }
@media screen and (min-width: 768px) {
  .bx--tabs__nav-link {
    padding: 0 0.125rem;
    width: auto; }
  .bx--tabs__nav-link:hover {
    color: #3d70b2; }
  .bx--tabs__nav-link:focus {
    background-color: transparent;
    color: #152935;
    outline: 1px solid transparent;
    box-shadow: 0 0 0 1px #3d70b2; } }

.bx--tabs.bx--skeleton {
  pointer-events: none;
  cursor: default; }

.bx--tabs.bx--skeleton .bx--tabs__nav-link {
  position: relative;
  border: none;
  padding: 0;
  box-shadow: none;
  pointer-events: none;
  background: rgba(61, 112, 178, 0.1);
  width: 4.6875rem;
  height: 0.75rem; }
.bx--tabs.bx--skeleton .bx--tabs__nav-link:hover, .bx--tabs.bx--skeleton .bx--tabs__nav-link:focus, .bx--tabs.bx--skeleton .bx--tabs__nav-link:active {
  border: none;
  outline: none;
  cursor: default; }
.bx--tabs.bx--skeleton .bx--tabs__nav-link:before {
  content: '';
  width: 0%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.3;
  background: rgba(61, 112, 178, 0.1);
  animation: 3000ms ease-in-out skeleton infinite; }

.bx--tabs.bx--skeleton .bx--tabs-trigger {
  position: relative;
  border: none;
  padding: 0;
  box-shadow: none;
  pointer-events: none;
  background: rgba(61, 112, 178, 0.1);
  width: 6.25rem; }
.bx--tabs.bx--skeleton .bx--tabs-trigger:hover, .bx--tabs.bx--skeleton .bx--tabs-trigger:focus, .bx--tabs.bx--skeleton .bx--tabs-trigger:active {
  border: none;
  outline: none;
  cursor: default; }
.bx--tabs.bx--skeleton .bx--tabs-trigger:before {
  content: '';
  width: 0%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.3;
  background: rgba(61, 112, 178, 0.1);
  animation: 3000ms ease-in-out skeleton infinite; }

.bx--tabs.bx--skeleton .bx--tabs-trigger svg {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  visibility: visible;
  white-space: nowrap; }


.page-tabs {
  margin-left: 3%;
  margin-right: 3%;
  margin-top: -3.5rem;
  width: auto; }
@media (min-width: 600px) {
  .page-tabs {
    margin-left: 5%;
    margin-right: 5%; } }
@media (min-width: 840px) {
  .page-tabs {
    margin-left: 12.5%;
    margin-right: 12.5%; } }
.page-tabs .bx--tabs--hidden {
  display: none; }
@media (min-width: 768px) {
  .page-tabs .bx--tabs--hidden {
    display: -ms-flexbox;
    display: flex; } }
.page-tabs .bx--tabs__trigger {
  background-color: rgba(61, 112, 178, 0.1); }
.page-tabs .bx--tabs__trigger-text,
.page-tabs .bx--tabs__trigger svg {
  color: #152935;
  fill: #3057d5; }
.page-tabs .bx--tabs__nav {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  z-index: 5; }
@media (min-width: 768px) {
  .page-tabs {
    padding-left: 3%;
    padding-right: 3%;
    background-color: transparent;
    margin: -2.95rem 0 0 0; } }
@media (min-width: 768px) and (min-width: 600px) {
  .page-tabs {
    padding-left: 5%;
    padding-right: 5%; } }
@media (min-width: 768px) and (min-width: 840px) {
  .page-tabs {
    padding-left: 12.5%;
    padding-right: 12.5%; } }
@media (min-width: 768px) {
  .page-tabs .bx--tabs__nav {
    margin: 0;
    box-shadow: none; }
  .page-tabs .bx--tabs__nav-item {
    padding: 0; }
  .page-tabs .bx--tabs__nav-item .bx--tabs__nav-link {
    font-size: 1rem;
    padding: .75rem 0 1rem;
    color: #152935; }
  .page-tabs .bx--tabs__nav-item:hover .bx--tabs__nav-link {
    color: #3057d5; }
  .page-tabs .bx--tabs__nav-item.bx--tabs--selected {
    border-bottom: 3px solid #3057d5 !important; }
  .page-tabs .bx--tabs__nav-item--selected {
    border-bottom: 2px solid #3057d5; } }

nav {
  display: block;
}
