&.main {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.main-content {
  padding: 16px;
  overflow: auto;
}

.container {
  width: 100%;
  margin-left: 0;
  transition: 250ms ease;
  overflow-x: hidden;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: justify;
  justify-content: space-between;
}


@media screen and (min-width: 1024px) {

  .container {
    margin-left: 12.5rem;
    width: calc(100% - 200px);
  }
}

.container--expanded {
  width: 100%;
  margin-left: 0;
}



@media (min-width: 840px) {
  .main-content {
    margin: 4rem 12.5% 0;
  }
}

@media (min-width: 600px) {
  .main-content {
    margin: 4rem 5% 0;
  }
}

.main-content {
  margin: 4rem 3% 0;
  padding-bottom: 5rem;
}

