&.main {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.main-content {
  padding: 16px;
  overflow: auto;
}


@media (min-width: 840px) {
  .main-content {
    margin: 4rem 12.5% 0;
  }
}

@media (min-width: 600px) {
  .main-content {
    margin: 4rem 5% 0;
  }
}

.main-content {
  margin: 4rem 3% 0;
  padding-bottom: 5rem;
}

