&.bx--icon-- {
  &disabled {
    cursor: initial;
    opacity: 0.5;
  }
  &info {
    fill: $brand-01;
    &:hover {
      fill: $hover-primary;
    }
  }
  &danger {
    fill: $support-01;
    &:hover {
      fill: darken($support-01, 10%);
    }
  }
}
