@import "../ember-component-css/carbon-pod-styles";


// Variables

// Backgrounds
$ember-power-select-background-color: #f4f7fb !default;
$ember-power-select-disabled-background-color: #eeeeee !default;
$ember-power-select-multiple-selection-background-color: #fff !default;
$ember-power-select-highlighted-background: rgba(85, 150, 230, 0.1) !default;
$ember-power-select-selected-background: #dddddd !default;

// Texts
$ember-power-select-text-color: #152935 !default;
$ember-power-select-placeholder-color: #999999 !default;
$ember-power-select-highlighted-color: #152935 !default;
$ember-power-select-disabled-option-color: #999999 !default;
$ember-power-select-multiple-selection-color: #152935 !default;

// Borders
$ember-power-select-border-color: #aaaaaa !default;
$ember-power-select-focus-border-color: #3d70b2 !default;
$ember-power-select-default-border: none !default;
$ember-power-select-default-focus-border: none !default;

$ember-power-select-trigger-border: none;
$ember-power-select-trigger-border-top: $ember-power-select-trigger-border !default;
$ember-power-select-trigger-border-bottom: $ember-power-select-trigger-border !default;
$ember-power-select-trigger-border-right: $ember-power-select-trigger-border !default;
$ember-power-select-trigger-border-left: $ember-power-select-trigger-border !default;
$ember-power-select-active-trigger-border: $ember-power-select-default-focus-border !default;
$ember-power-select-active-trigger-border-top: $ember-power-select-active-trigger-border !default;
$ember-power-select-active-trigger-border-bottom: $ember-power-select-active-trigger-border !default;
$ember-power-select-active-trigger-border-right: $ember-power-select-active-trigger-border !default;
$ember-power-select-active-trigger-border-left: $ember-power-select-active-trigger-border !default;
$ember-power-select-dropdown-border: $ember-power-select-default-focus-border !default;
$ember-power-select-search-field-border: $ember-power-select-default-border !default;
$ember-power-select-search-field-focus-border: $ember-power-select-default-focus-border !default;

$ember-power-select-dropdown-top-border: $ember-power-select-dropdown-border !default;
$ember-power-select-dropdown-right-border: $ember-power-select-dropdown-border !default;
$ember-power-select-dropdown-bottom-border: $ember-power-select-dropdown-border !default;
$ember-power-select-dropdown-left-border: $ember-power-select-dropdown-border !default;

$ember-power-select-dropdown-contiguous-border: none !default;

$ember-power-select-multiple-option-border-color: gray !default;
$ember-power-select-multiple-option-border: 1px solid $ember-power-select-multiple-option-border-color !default;

// Borders radius
$ember-power-select-default-border-radius: 0px !default; // General border radius
$ember-power-select-trigger-default-border-radius: $ember-power-select-default-border-radius !default;
$ember-power-select-dropdown-default-border-radius: $ember-power-select-default-border-radius !default;

$ember-power-select-opened-border-radius: 0 !default; // Border radius of the side of the dropdown and the trigger where they touch

$ember-power-select-search-input-border-radius: 0 !default;
$ember-power-select-multiple-option-border-radius: $ember-power-select-default-border-radius !default;

// Other
$ember-power-select-focus-box-shadow: 0 2px 0 0 #3d70b2 !default;
$ember-power-select-dropdown-margin: 0 !default; // Margin between the dropdown and the trigger
$ember-power-select-dropdown-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1) !default;
$ember-power-select-line-height: 1.75 !default;
$ember-power-select-trigger-icon-color: $ember-power-select-border-color !default;
$ember-power-select-clear-btn-margin: 25px !default;
$ember-power-select-option-padding: 1rem !default;
$ember-power-select-number-of-visible-options: 7 !default;
$ember-power-select-focus-outline: none !important !default;
$ember-power-select-trigger-ltr-padding: 0 !default;
$ember-power-select-trigger-rtl-padding: 0 !default;
$ember-power-select-multiple-option-padding: 1rem 1.5rem 1rem 1rem !default;
$ember-power-select-multiple-option-line-height: 1.45 !default;
