<div class="layout-row layout-wrap flex">
  <div class="layout-column flex-xs flex-gt-xs-50">
  {{#paper-card as |card|}}
    {{#paper-toolbar as |toolbar|}}
      {{#paper-toolbar-tools}}Hazards{{/paper-toolbar-tools}}
    {{/paper-toolbar}}
    {{#card.content as |content|}}
      {{#paper-list}}
        {{#each model as |hazard index|}}
          {{#paper-item class="md-3-line"}}
            <div class="md-list-item-text">
              #{{index}}
              <h3>User: {{hazard.userId}}</h3>
              <h4>Shield name {{hazard.shield.name}}</h4>
              <p>At {{moment hazard.createdAt}}</p>
            </div>
          {{/paper-item}}
        {{/each}}
      {{/paper-list}}
    {{/card.content}}
  {{/paper-card}}
  </div>
</div>
