<div class="bx--grid">
  <div class='bx--row'>
    <div class='bx--col-sm-6'>
      <Carbon::Tile>
        <h4>{{shield.name}}</h4>
        <small>{{shield.id}}</small>
        <br>
        <br>
        <div style='max-width: 400px'>
          <Form-Editor
            @model={{shield}}
            @sections={{formSections}}
          />
        </div>
      </Carbon::Tile>
    </div>
  </div>
</div>